/lfs_root/
/src/bash-*
/src/bc-*
/src/binutils-*
/src/bison-*
/src/bzip2-*
/src/coreutils-*
/src/diffutils-*
/src/file-*
/src/findutils-*
/src/gawk-*
/src/gettext-*
/src/gcc-*
/src/glibc-*
/src/gmp-*
/src/grep-*
/src/gzip-*
/src/iana-etc-*
/src/linux-*
/src/lz4-*
/src/m4-*
/src/make-*
/src/man-pages-*
/src/mpc-*
/src/mpfr-*
/src/ncurses-*
/src/patch-*
/src/perl-*
/src/pcre2-*
/src/Python-*
/src/readline-*
/src/sed-*
/src/tar-*
/src/texinfo-*
/src/tzdata*
/src/util-linux-*
/src/xz-*
/src/zlib-*
/src/zstd-*
