/lfs_root/
/src/acl-*
/src/attr-*
/src/autoconf-*
/src/automake-*
/src/bash-*
/src/bc-*
/src/binutils-*
/src/bison-*
/src/bzip2-*
/src/coreutils-*
/src/dbus-*
/src/diffutils-*
/src/elfutils-*
/src/expat-*
/src/file-*
/src/findutils-*
/src/flex-*
/src/flit_core-*
/src/gawk-*
/src/gcc-*
/src/gcc_patch-*
/src/gdbm-*
/src/gettext-*
/src/glibc-*
/src/glibc_patch-*
/src/gmp-*
/src/gperf-*
/src/grep-*
/src/groff-*
/src/gzip-*
/src/htop-*
/src/iana-etc-*
/src/iproute2-*
/src/iputils-*
/src/jinja2-*
/src/kbd-*
/src/kmod-*
/src/less-*
/src/libcap-*
/src/libffi-*
/src/libidn2-*
/src/libnl-*
/src/libpipeline-*
/src/libtool-*
/src/libunistring-*
/src/libxcrypt-*
/src/linux-*
/src/lz4-*
/src/m4-*
/src/make-*
/src/man-pages-*
/src/markupsafe-*
/src/meson-*
/src/mpc-*
/src/mpfr-*
/src/ncurses-*
/src/ninja-*
/src/openssl-*
/src/packaging-*
/src/patch-*
/src/pcre2-*
/src/perl-*
/src/pkgconf-*
/src/psmisc-*
/src/Python-*
/src/readline-*
/src/sed-*
/src/setuptools-*
/src/sqlite-*
/src/shadow-*
/src/systemd-*
/src/tar-*
/src/texinfo-*
/src/tzdata*
/src/unix-tree-*
/src/util-linux-*
/src/vim-*
/src/wheel-*
/src/xz-*
/src/zlib-*
/src/zstd-*
