/lfs_root/
/src/acl-*
/src/attr-*
/src/autoconf-*
/src/automake-*
/src/bash-*
/src/bc-*
/src/binutils-*
/src/bison-*
/src/bzip2-*
/src/coreutils-*
/src/diffutils-*
/src/elfutils-*
/src/expat-*
/src/file-*
/src/findutils-*
/src/flex-*
/src/gawk-*
/src/gcc-*
/src/gdbm-*
/src/gettext-*
/src/glibc-*
/src/gmp-*
/src/grep-*
/src/gzip-*
/src/iana-etc-*
/src/less-*
/src/libcap-*
/src/libffi-*
/src/libtool-*
/src/libxcrypt-*
/src/linux-*
/src/lz4-*
/src/m4-*
/src/make-*
/src/man-pages-*
/src/mpc-*
/src/mpfr-*
/src/ncurses-*
/src/openssl-*
/src/patch-*
/src/pcre2-*
/src/perl-*
/src/pkgconf-*
/src/psmisc-*
/src/Python-*
/src/readline-*
/src/sed-*
/src/sqlite-*
/src/shadow-*
/src/tar-*
/src/texinfo-*
/src/tzdata*
/src/util-linux-*
/src/xz-*
/src/zlib-*
/src/zstd-*
